

<a class="btn btn-primary" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Test Button</a>
@*
HTML Tables are HORRIBLE with CSS *@
<div class="container">
    <div class="row">
        <div class="col-lg-4 border">
            <p>Hello world!!! Hi there!</p>
        </div>

        <div class="col-lg-8 border">
            Salvete, sum Iulius Caesar, imperator de re publicam romanarum.  

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 border">This is 25% of the page roughly</div>
        <div class="col-sm-3 border">This is 25% of the page roughly</div>
        <div class="col-sm-3 border">This is 25% of the page roughly</div>
        <div class="col-sm-3 border">This is 25% of the page roughly</div>
    </div>
</div>

<div class="card" style="background-color: blue">
    <div class="card-header"><p style="color:white; font-weight: bold;">This is a blue card</p></div>
    <div class="card-body">
        <p style="color:white; font-weight: bold;">Storm Crow is the best magic card.</p>
    </div>
    <div class="card-footer"><p style="color:white; font-weight: bold;">Hello world!</p></div>
</div>