<h2>Perimeter Calculator</h2>

<p>Length</p>
<input type="number" [(ngModel)]="len"/>

<p>Width</p>
<input type="number" [(ngModel)]="width"/>

<button (click)="getRectPerimeter()">Calc Perimeter</button>

<p>Result: {{result}}</p>

<p>Look Up Movies in the OmDB</p>
<input type="text" [(ngModel)]="searchTerm"/>
<button (click)="searchOmdb()">Search for {{searchTerm}} </button>

<div *ngFor="let s of searchResults">
  <p>Title: {{s.Title}}</p>
  <button (click)="getMovieDetails(s.imdbID)">See Details for {{s.Title}}</button>
</div>

<app-movie-details [displayMovie]="selectedMovie"></app-movie-details>