<form asp-action="Add" asp-controller="Home" method="post">
    Name: <input type="text" name="Name" />
    Image URL: <input type="text" name="Img"/>
    Breed: <input type="text" name="Breed"/>
    Age: <input type="number" name="Age"/>
    Description: <input type="text" name="Description"/>


    <input type="submit"/>
</form>
