@model IEnumerable<Pet>

<h2>Select a Breed</h2>

<form asp-action="Result" asp-controller="Home">
    @foreach(Pet p in Model)
    {
        <input type="radio" name="breed" value="@p.Breed" />  @p.Breed
        <br/>
    }
    <input type="submit"/>
</form>

