@model Cat
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@Model.CatName</h1>
<p>Age: @Model.CatAge</p>
@{
    if(Model.neutered){
        <p>@Model.CatName is neutered.</p>
    }
}
