<div *ngFor="let e of employees; index as i">
    <p>Id: {{e.id}}</p>
    <p>Name: {{e.name}}</p>
    <p>Hours: {{e.hours}}</p>
    <p>Title: {{e.title}}</p>
    <p>Assigned Tasks:</p>
    <ul>
        <li *ngFor="let t of e.toDos">{{t.name}}</li>
    </ul>

    <button (click)="deleteEmployee(e.id, i)">Delete {{e.name}}</button>
    <!--So we will want to make a button that allows to select the employee we want to edit and put them in the service
    Next we want the edit form to only appear if someone has been selected. We will have buttons to select what to edit but only 
    a single edit form at the bottom. 
    -->
    <button (click)="selectEmployeeToEdit(e, i)">Edit {{e.name}}</button>
    <br>
</div>
<app-edit-employee></app-edit-employee>
<!-- <app-add-employee (changed)="addEmployee($event)"></app-add-employee> -->
