<!-- You want to delete items by Id and not their index in the array. Since that's what SQL is expecting  -->
<div *ngFor="let s of students; index as i">
  <p>Name: {{s.name}}</p>
  <button (click)="deleteStudent(s.id)">Delete {{s.name}}</button>
  <app-edit-student [student]="s" (changed)="updateStudent($event, i)"></app-edit-student>
  <br/>
</div>

<p>Add new Student</p>

<p>Name</p>
<input type="name" [(ngModel)]="newStudent.name"/>

<p>Average Grade</p>
<input type="number" [(ngModel)]="newStudent.averageGrade"/>

<p>Is Passing</p>
<!-- Check boxes when uncheck may return nulls and not false -->
<input type="checkbox" [(ngModel)]="newStudent.isPassing" />

<button (click)="addNew()" >Add new Student</button>