<!--If you want this to be its own page, create a route for it-->
<!--If you want to use this component in another component, put its tag into the other component's view-->

<div *ngFor="let s of students; index as i">
    <!-- Old way of show off models -->
    <!-- <p>Name: {{s.name}}</p>
    <p>Grade: {{s.grade}}</p>
    <br/> -->
   
    <app-student-details [student]="s"  ></app-student-details>
    <app-edit-student [studentToEdit]="s" (changed)="updateStudent($event, i)"></app-edit-student>

</div>


